* {
    font-family: Arial, Helvetica, sans-serif;
}

.section {
    padding-top: 10px;
    padding-bottom: 10px;
}

.errorText {
    color: red;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}