* {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #e0e0e0;
}

.section {
    padding-top: 10px;
    padding-bottom: 10px;
}

.errorText {
    color: red;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    transition-duration: 0.4s;
}

.button:hover {
    background-color: darkgreen;
}

.dropdown {
    background-color: lightcyan;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 5px;
}


.field {
    background-color: lightgoldenrodyellow;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 5px;
}

