<!DOCTYPE html>
<html>
    <head>
        <meta name='viewport' content='width=device-width, initial-scale=1.0'>
        <title>ACFT Manager</title>
        <link rel="stylesheet" href="./css/main.css">
        <link rel="icon" type="image/ico" th:href="@{images/acft-manager-logo.png}"/>
        <script type='module'>
            import * as Controller from './js/EditSoldierViewController.js';
            import { showAboutViewController, showVisualizeTestDataViewController } from './js/IndexViewController.js';
            window.onload = Controller.editSoldierDataViewOnLoad;
            document.getElementById('returnToIndexButton').addEventListener('click', Controller.getHomePageViewController);
            document.getElementById('eventSelector').addEventListener('change', Controller.eventInputController);
            document.getElementById('updateSoldierScoreButton').addEventListener('click', Controller.updateSoldierScoreController);
            document.getElementById('deleteSoldierButton').addEventListener('click', Controller.displayDeleteSoldierSafeguard);
            document.getElementById('aboutViewButton').addEventListener('click', showAboutViewController);
            document.getElementById('visualizeTestDataViewButton').addEventListener('click', showVisualizeTestDataViewController);
        </script>
    </head>
    <body>
        <ul class='navBar'>
            <li id='returnToIndexButton' class='navBarItem mainNavBarItem'>Home</li>
            <li id='visualizeTestDataViewButton' class='navBarItem mainNavBarItem'>Visualize Data</li>
            <li id='aboutViewButton' class='navBarItem navBarAbout'>About</li>
        </ul>
        <div class='component section'>
            <img class='logo' th:src='@{images/acft-manager-logo.png}'/>
            <h1>Edit Soldier Data</h1>
            <h2 id='messageText'></h2>
            <div class='section'>
                <!----Also used to display soldier score after updating-->
                <h3 id='testGroupText'></h3><br>
                <h2 id='displaySoldierName'></h2>
            </div>
            <div class='section'>
                <label for='soldierIdSelector'>Soldier: </label>
                <select class='dropdown' name='Soldiers in Test Group' id='soldierIdSelector'></select>
            </div>
            <div class='section'>
                <label for='eventSelector'>Event: </label>
                <select class='dropdown' name='Event Id' id='eventSelector'>
                    <option value='1'>Max Deadlift</option>
                    <option value='2'>Standing Power Throw</option>
                    <option value='3'>Hand Release Pushups</option>
                    <option value='4'>Sprint Drag Carry</option>
                    <option value='5'>Plank</option>
                    <option value='6'>Two-mile Run</option>
                </select>
            </div>
            <div id='soldierIdAndEventSelectionDiv'></div>
            <div class='section'>
                <button class='button' id='updateSoldierScoreButton'>Update</button>
            </div>
            <div id='deleteSoldierButtonDiv'>
                <button class='button deleteSoldierButton' id='deleteSoldierButton'>Delete Soldier</button>
            </div>
            <div class='section'>
                <h3 class='errorText' id='errorText'></h3>
            </div>
        </div>
    </body>
</html>
