<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="main.css">
        <script type='module'>
            import * as Controller from '/main.js';
            window.onload = Controller.editSoldierDataViewOnLoad;
            document.getElementById('returnToIndexButton').addEventListener('click', Controller.getHomePageViewController);
            document.getElementById('displaySelectedSoldierNameButton').addEventListener('click', Controller.displaySoldierName);
            document.getElementById('eventSelector').addEventListener('change', Controller.eventInputController);
            document.getElementById('updateSoldierScoreButton').addEventListener('click', Controller.updateSoldierScoreController);
            document.getElementById('existingTestGroups').addEventListener('change', Controller.populateSoldiersByTestGroupIdController);
        </script>
    </head>
    <body>
        <h1>Edit Soldier Data</h1>
        <button id='returnToIndexButton'>Home</button>
        <h2 id='messageText'></h2>
        <div>
            <div>
                <!----Also used to display soldier score after updating-->
                <h2 id='displaySoldierName'></h2>
            </div>
            <div>
                <label for='existingTestGroups'>Test Group:</label>
                <select name='Existing Test Groups' id='existingTestGroups'></select>
            </div>
            <div>
                <label for='idsInTestGroup'>Soldier ID:</label>
                <select name='Soldier IDs in Selected Test Group' id='idsInTestGroup'></select>
            </div>
            <div>
                <button id='displaySelectedSoldierNameButton'>Display Soldier</button>
                <select name='Event Id' id='eventSelector'>
                    <option value='1'>Max Deadlift</option>
                    <option value='2'>Standing Power Throw</option>
                    <option value='3'>Hand Release Pushups</option>
                    <option value='4'>Sprint Drag Carry</option>
                    <option value='5'>Plank</option>
                    <option value='6'>Two-mile Run</option>
                </select>
            </div>
            <div id='soldierIdAndEventSelectionDiv'></div>
            <div>
                <button id='updateSoldierScoreButton'>Update</button>
            </div>
        </div>
    </body>
</html>